body {
  background-color: darkslategray;
  color: ghostwhite;
  font-family: "Grenze Gotisch", cursive;
  background: url(https://cdn.hipwallpaper.com/i/0/68/OG1FLx.jpg) no-repeat
    center center fixed;
  background-size: cover;
}

h4,
h6 {
  background-color: darkgrey;
  padding: 9px;
  border-radius: 10px;
  display: flex;
  text-shadow: 4px 4px 4px #000000;
}

h4 {
  border-style: outset;
  border-width: 7px;
  border-color: rgb(202, 200, 200);
  box-shadow: 0px 0px 15px 0px black;
}

/* Page logo */
header {
  text-align: center;
  height: auto;
  margin-top: 10px;
  background-color: transparent;
  object-fit: contain;
}

/*ids below*/

#submit-btn {
  float: right;
  border-radius: 7px;
  background-color: #b0151f;
}

#modalheader {
  background-color: #b0151f;
  padding: 9px;
  border-radius: 10px;
  font-size: 25px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 2px #000000;
}

#modal {
  width: fit-content;
}

#modalheaders {
  background-color: #b0151f;
  padding: 6px;
  border-radius: 10px;
  width: max-content;
  margin-right: 5px;
  text-shadow: 2px 2px 2px #000000;
}

#title,
#actors,
#plot,
#rating,
#release {
  color: black;
}

#head2 {
  font-size: 25px;
}

#row2 {
  background-color: #221e1e;
  border-radius: 10px 10px 0px 0;
  padding: 5px;
  margin: 0;
}

#head2 {
  margin: 0 0 20px 0;
  border-radius: 0 0 10px 10px;
}

#submit-btn {
  float: right;
  border-radius: 7px;
  background-color: darkgrey;
  border: 1px solid #2d6898;
  box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
}


#randomBtn {
  float: right;
  border-radius: 7px;
  background-color: darkgrey;
  border: 1px solid #2d6898;
  box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
}

#searchname {
  margin: 0 5px 0 5px;
  /* font-size: ; */
}

#modal {
  width: 660px;
  padding: 15px;
}

#finder {
  text-decoration: none;
  /* border-radius: 15px 15px 15px 15px; */
  font-family: "Grenze Gotisch", cursive;
  background-color: #221e1e;
  color: whitesmoke;
  /* font-size: 125px; */
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 0px 0px 85px 0px;
  border-style: outset;
  border-color: #2e2b2b;
  border-width: 10px;
  box-shadow: 0px 0px 20px 0px black;
}

#finderText {
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 50px;
  text-shadow: 5px 5px 5px #000000;
}

#submitNutBtn {
  float: right;
  border-radius: 7px;
  background-color: darkgrey;
  /* position: relative; */
}

#rCards {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

/* classes below */

.z-depth-4 {
  justify-content: center;
}

.card {
  background-color: darkgrey !important;
  color: whitesmoke !important;
}

.card-deck {
  background-color: #2e2b2b;
}

#rCards > .card-deck {
  margin-left: 0px;
  margin-right: 0;
}

.container {
  border-radius: 10px;
}

.responsive-img:hover {
  box-shadow: 0 12px 14px 0 rgba(255, 255, 255, 0.2),
    0 13px 20px 0 rgba(255, 255, 255, 0.19);
}

/* this code is for the search and instructions elements */

.colS4 {
  float: left;
  margin: 1px;
  width: 24%;
}

.colS5 {
  width: 35%;
  float: left;
  padding: 0 10px 10px 10px;
  border-style: outset;
  border-color: #2e2b2b;
  border-radius: 10px;
  box-shadow: inset 0px 3px 3px 0px rgb(139, 139, 139);
}

/* .collection-item {
  font-size: 15px;
} */

.col-s4 {
  float: left;
  margin-left: 52px;
  position: relative;
}

.responsive-img:hover {
  box-shadow: 0 12px 14px 0 rgba(255, 255, 255, 0.2),
    0 13px 20px 0 rgba(255, 255, 255, 0.19);
}

/* .row {
  box-shadow: 0 12px 14px 0 black,
  0 13px 20px 0 black ;
} */

.colsearch {
  float: left;
  width: 65%;
  padding: 0 10px 0 10px;
  border-style: inset;
  border-color: #2e2b2b;
  border-radius: 10px;
  box-shadow: inset 0px 3px 3px 0px rgb(139, 139, 139);
}

.display {
  color: black;
  text-shadow: 2px 2px 0px ghostwhite;
}


.miniImg {
  float: right;
  box-shadow: 4px 4px 0px #000000;
  margin-right: 15px;
}

.center {
  justify-content: center;
}

/*media*/

@media screen and (max-width: 800px) {
  .colS5,
  .colS7 {
    width: 100%;
  }
}

/* this formats for mobile use */
@media screen and (max-width: 400px) {
  .col-s4 {
    width: 150px;
    height: 250px;
    float: left;
    margin: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    position: relative;
  }


  /* this code is for the mobile breaks of the search and instructions blocks*/
  @media screen and (max-width: 800px) {
    .colS5,
    .colS7 {
      width: 100%;
    }
  }
}

/* pizza spin when clicked*/
#pizzaSpin {
  transition: transform 3.5s;
  height: auto;
  width: 100px;
  z-index: 10%;
  position: absolute;
    bottom:0px;
    top: 350px;
    right: 400px;
}

.rotate {
  -webkit-transform: rotate(1080deg);
  -moz-transform: rotate(1080deg);
  -o-transform: rotate(1080deg);
  -ms-transform: rotate(1080deg);
  transform: rotate(1080deg);
}
